<h3>Управлеие пользователями: </h3>
<h4>Добавление, удаление, измененеие @Html.ActionLink("менеджеров", "Index", "ManagerAccounts", null, new { style = "color:blue" }) (операторов)</h4>
<h4>Добавление, удаление, изменение @Html.ActionLink("статусов курьеров", "Index", "CourierStatus", null, new { style = "color:blue" })</h4>
<h4>Просмотр информации о курьерах</h4>