@{
    ViewBag.Title = "DelControl";
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-12">
            <h3>Управляйте мобильными ресурсами эффективно</h3>
        </div>
        <div class="col-md-6">
            <div class="form-horizontal">
                <div>
                    <h4>GPS контроль</h4>
                    <span>Местонахождение онлайн, ситуационный контроль</span>

                    <h4>Мобильные приложения</h4>
                    <span>Для выездных сотрудников и водителей</span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-horizontal">
                <h4>Рабочие задания</h4>
                <span>Планируйте задачи и координируйте работу мобильного персонала онлайн</span>

                <h4>Автоматизация процессов</h4>
                <span>Интегрируйте сервис DelControl с корпоративными IT-системами и сайтом</span>
            </div>
        </div>
    </div>
}
else
{
    <h1>Карта с курьерами</h1>
}