@if (User.Identity.IsAuthenticated)
{
    <form asp-controller="Account" asp-action="Logout" method="post" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a style="color:white">@User.Identity.Name</a>
            </li>
            <li>
                @Html.ActionLink("Выйти", "Logout", "Account", htmlAttributes: new { style = "color:white" })
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Регистрация", "Register", "Account", htmlAttributes: new { style = "color:white" })
        </li>
        <li>
            @Html.ActionLink("Вход", "Login", "Account", htmlAttributes: new { style = "color:white" })
        </li>
    </ul>
}